[submodule "vim/vim/bundle/_disabled/syntastic"]
	path = vim/vim/bundle/_disabled/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/vim/bundle/ale"]
	path = vim/vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/rust.vim"]
	path = vim/vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/vim/bundle/vim-cargo"]
	path = vim/vim/bundle/vim-cargo
	url = git@github.com:timonv/vim-cargo.git
[submodule "vim/vim/bundle/vim-toml"]
	path = vim/vim/bundle/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim/bundle/vim"]
	path = vim/vim/bundle/vim
	url = git@github.com:dracula/vim.git
[submodule "vim/vim/bundle/YouCompleteMe"]
	path = vim/vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/YCM-Generator"]
	path = vim/vim/bundle/YCM-Generator
	url = git@github.com:rdnetto/YCM-Generator.git
[submodule "vim/vim/bundle/dracula-theme"]
	path = vim/vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim/vim/bundle/vim-velocity"]
	path = vim/vim/bundle/vim-velocity
	url = git@github.com:lepture/vim-velocity.git
